body{
    scroll-behavior: smooth;
    background-color: #141029;
}
.logo{
    width: 200px;
    height: 75px;
}
.starter{
    background: linear-gradient(240deg,#3CB371,#7DF9FF);
    background-image: url(images/background3.jpg);
    background-size: cover;
    /* background-color:#4FFFB0; */
}
#title
{
    margin-top: 100px;
}
#title,
#abouttitle,
#announcementtitle,
#faqtitle
    {
        color: whitesmoke;
    }
#logo-container{
    margin-bottom: 130px;
}
/* #6F00FF purple*/
/* #7DF9FF green */
.content{
    background-color:whitesmoke;
    border-radius: 10px;
    padding: 20px;
}
li a h6{
    color: whitesmoke;
}
li a h6:hover{
    color: #cd0695;
}
@media only screen and (max-width: 767px) {
    #logo{
        margin-bottom: 25px;
    }
    #title,
    #abouttitle
    {
        margin-top: 0;
        font-size: x-large;
    }
    h2{
        font-size: x-large;
    }
}